name: Deploy to GitHub Pages

on:
  push:
    branches: [ dev ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Affichage d'un message
        run: echo "Hello World !"

    